<div class='card'>
    <div class='card-header'>
     {{pageTitle}}
    </div>
    
    <div class='card-body'>            
      <div class='table-responsive'>
       
      
           
              <tr *ngFor='let author of authors'>
                  <td><img 
                    [src] = 'author.imageUrl' 
                    [title] = 'author.authorName'
                    [style.width.px] = 'imageWidth' 
                    [style.height.px] = 'imageheight' 
                    
                    [style.border-radius.px] = 'imageMargin'></td>

                    <!---->
                    <div class="move">
                      <h4>{{author.authorName}}</h4>
                     
                          <h5><span class="label label-default">{{author.book}}</span></h5><h6>
                          <small style="font-family:courier,'new courier';" class="text-muted">{{author.genre}} </small>
                          </h6>
                          
                        <br><br><br>
                        </div>

                 
                  <td >
                    <button class="btn btn-warning" style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="editAuthor(author)" style="margin-left: 20px;"> Edit</button>
                    <button class="btn btn-danger" style="cursor:pointer" *ngIf="_auth.loggedIn()"(click)="deleteAuthor(author)"> Delete</button>
                  </td>
                </tr>              
         
       
      </div>
    </div>
  </div>



  

  <div class="container" id="footer">
    <div class="row">
      <div class="col col-sm-12">
        
        <h1>Follow Us</h1>
        <div class="btn-group">
         <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
         <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
         <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
        </div>
        
      </div>
    </div>
  </div>
  <hr>
  <hr>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-inline">
            <li><i class="icon-facebook icon-2x"></i></li>
            <li><i class="icon-twitter icon-2x"></i></li>
            <li><i class="icon-google-plus icon-2x"></i></li>
            <li><i class="icon-pinterest icon-2x"></i></li>
          </ul>
          
        </div>
        
      </div>
    </div>
  </footer>
  